<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{css/front/shopping.css}">
    <link href="lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top">
    <header>
        <div class="logo">
            <img src="images/front/index-logo.png"/>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{home/index}">首页</a></li>
                <li class="top"><a  th:href="@{product/show}">在线商城</a></li>
                <li><a th:href="@{home/feed}">用户反馈</a></li>
                <li><a th:href="@{home/space}">家居空间</a></li>
                <li><a th:href="@{home/center}">个人中心</a></li>
            </ul>
        </nav>
        <div class="header_right">
            <a title="退出登录" th:href="@{user/logout}" th:if="${session.loginUser}" style="margin-right: 1px;cursor: pointer;text-decoration:none;">
                <i class="Hui-iconfont" style="font-size:28px;">&#xe60b;</i>
            </a>
            <a title="购物车" th:href="@{home/center}" style="margin-right: 15px;cursor: pointer;text-decoration:none;">
                <i class="Hui-iconfont" style="font-size:28px;">&#xe6b9;</i><span class="badge badge-danger" th:text="${session.cartNum}">0</span>
            </a>
            <a th:href="@{home/login}"  th:title="${session.loginUser} == null ? '未登录': ${session.loginUser.username}" style="margin-right: 1px;cursor: pointer;text-decoration:none;">
                <img th:if="${session.loginUser}" th:src="${session.loginUser.image}" style="width: 30px;margin-bottom: 0px">
                <a th:href="@{home/login}"><i class="Hui-iconfont" style="font-size:28px;" th:if="${session.loginUser} == null">&#xe60d;</i></a>
            </a>
        </div>
    </header>
</div>
<div id="detail">
    <div class="div_detail">
        <div class="picture">
            <img th:src="${product.image}" width="500px"/>
        </div>
        <div class="div_right">
            <h3 style="font-size: 34px" th:text="${product.name}">Sleeve 青山椅</h3><br>
            <a style="font-size: 20px;text-decoration:line-through" th:text="|原价:￥${product.price}|">￥12600.00</a>&nbsp;
            <a style="font-size: 28px" th:text="|促销价:￥${product.salePrice}|">￥12600.00</a><br><br><br>
            <a></a><img src="images/front/select.png"/>欧美标准质量 &nbsp;&nbsp;
            <img src="images/front/select.png"/>24小时快速发货&nbsp;&nbsp;
            <img src="images/front/select.png"/>30天无忧退货
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>评分</legend>
            </fieldset>
            <div id="test1"></div>
            </a>
            <br>
            <a style="font-size: 14px">
                尺&nbsp;&nbsp;寸：L210*W65*H40cm<br><br>
                重&nbsp;&nbsp;量：18kg<br><br>
                材&nbsp;&nbsp;料：进口原材料
            </a>
            <br><br><br>
            <a style="font-size: 14px">数&nbsp;&nbsp;量：&nbsp;&nbsp;
                <button type="button" class="layui-btn" id="sub"><i class="layui-icon"></i></button>
                <input type="text" id="proCount" th:value="1">
                <button type="button" class="layui-btn" id="add"><i class="layui-icon"></i></button>
                库存：<a>20</a>件
            </a>
            <br>
            <div>
                <div class="purchase" id="addCart">加入购物车</div>
                <!--<div class="purchase">立即购买</div>-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
<script src="lib/layui/layui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#sub").click(function () {
            var num = $("#proCount").val();
            if (num > 1){
                num = num - 1;
                $("#proCount").val(num);
            }else {
                layer.msg("最底加入1件",{icon:6,time:2000});
            }
        });
        $("#add").click(function () {
            var num = $("#proCount").val();
            if (num < 20){
                num = parseInt(num) + 1;
                $("#proCount").val(num);
            }else {
                layer.msg("最多加入20件",{icon:6,time:2000});
            }
        });
        $("#addCart").click(function () {
            var id = [[${product.id}]];
            var count = $("#proCount").val();
            $.ajax({
                url:"product/addCart",
                type:"GET",
                data:"id="+id+"&count="+count,
                success:function (data) {
                    if (data.code == 200){
                        layer.msg(data.message,{icon:6,time:2000},function () {
                            location.reload();  //刷新
                        });
                    } else if (data.message == '请您先登录') {
                        layer.msg(data.message,{icon:6,time:2000},function () {
                            window.location.href = 'home/login';
                        });
                    }else {
                        layer.msg(data.message,{icon:5,time:2000});
                    }
                }
            })
        })
    })


</script>
<script>
      layui.use(['rate'], function(){
          var rate = layui.rate;
          //显示文字
          rate.render({
              elem: '#test1'
              ,value: 0 //初始值
              ,text: true //开启文本
          });
      });
  </script>
</body>
</html>